.nav-link :active {
    border-bottom: dark;
}

.nav-item {
    font-weight:700;
}

.heroimg {
    background-image: url(bg_img.jpg);
    background-size: cover;
}

h1 {
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

.bg-p {
    color: #fff;
    font-size: large;
    text-shadow: 1px 1px 2px black;
}

.card {
    transition: all .4s; 
}

.card:hover {
    box-shadow: 5px 5px 5px #e2e2e2; 
}

@media (min-width :768px) {
    .d-md-block{
        display: block !important;
    }
}

@media (min-width :360px) {
    .d-md-block{
        display: block !important;
        font-size: smaller;
    }
}